paths:
  static: static
  uploads: static/uploads
timezone: Asia/Singapore
markdown:
  engine: commonmark
  options:
    gfm: true
    linkify: false
    table: false
    strikethrough: false
    subscript: false
    superscript: false
    heading_ids: false
    breaks: false
    xhtml: false
    attributes: false
    typographer: false
    treat_indentation_as_code: true
_snippets_imports:
  hugo:
    exclude:
      - hugo_instagram
collections_config:
  pages:
    path: ''
    icon: wysiwyg
  content:
    path: content
    icon: wysiwyg
  data_en:
    path: data/en
    icon: dataset
  i18n:
    path: i18n
    icon: iron
  data:
    path: data
    icon: data_usage
    disable_url: true
    disable_add: true
    disable_add_folder: true
    disable_file_actions: true
